jest.config.js
next.config.js
tsconfig.json
prettier.config.js
.eslintrc.json
/**/*.d.ts
*.css
*.yml
.vscode/*
coverage/*
node_modules
yarn.lock
yarn-error.log
README.md
src/interfaces/data/graphqlGenerated.ts
