:local(.attributedUser) {
	display: flex;
	flex: 1;
	margin: 0.5em;
}

:local(.attributedUserAvatar) {
	display: flex;
	margin-right: 0.5em;
}

:local(.attributedUserAvatar img) {
	margin-bottom: 0px;
}

:local(.attributedUserInformation) {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

:local(.attributedUserInformation span) {
	text-align: initial;
}

:local(.attributedUserInformation h4) {
	margin-bottom: 0.5em;
}

:local(.testimonyMotion) {
	display: flex;
	perspective: 1000px;
	transform-style: preserve-3d;
}

:local(.testimonyWrapper) {
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 75vw;
	min-width: 300px;
	padding: 1em;
}

:local(.quote) {
	color: #383838;
	display: flex;
	flex: 1;
	margin-bottom: 1em;
}

:local(.quote h3) {
	line-height: 1.5em;
	margin: 0 0.5em 0 0.5em;
	overflow: hidden;
}

@media all and (min-width: 900px) {
	.testimonyWrapper {
		max-width: 25vw;
	}
}
