:local(.benefitWrapper) {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-bottom: 100px;
}

:local(.benefitMotion) {
	display: flex;
	flex: 1;
}

:local(.benefitMotionImage) {
	margin-right: auto;
	transform: translateX(-50%);
}

:local(.benefitMotionText) {
	align-items: center;
	color: #383838;
	display: flex;
	flex-direction: column;
	margin-left: 50%;
	margin-top: 1em;
	width: 60%;
}

:local(.benefitMotionText h2) {
	font-size: 3em;
	margin-bottom: 1em;
}

:local(.benefitMotionText span) {
	font-size: 2em;
	margin-bottom: 1em;
}

:local(.benefitMotionText span:first-letter) {
	font-weight: bold;
	font-size: 1.5em;
}

@media all and (max-width: 700px) {
	.benefitMotionText {
		width: 75%;
	}

	.benefitMotionText h2 {
		font-size: 2em;
	}

	.benefitMotionText span {
		font-size: 1.5em;
	}
}
