:local(.callToAction) {
	bottom: 15%;
	position: absolute !important;
	z-index: 2;
}

:local(.callToAction h4) {
	font-size: max(16px, 1.1vw);
}

:local(.heading) {
	font-size: max(18px, 5vw);
	position: absolute;
	top: 10%;
	white-space: nowrap;
	z-index: 2;
}

:local(.landingWrapper) {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding-top: 70px;
}

:local(.landingImageWrapper) {
	color: white;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}

:local(.sources) {
	background-color: white;
	display: flex;
	flex: 1;
	flex-direction: column;
}

:local(.stepHeading) {
	margin-bottom: 1rem;
}

:local(.subHeading) {
	font-size: max(16px, 3vw);
	position: absolute;
	top: 30%;
	z-index: 2;
}

:local(.gradientDrip) {
	background: linear-gradient(to right, #8c2485, #7a2485 10%, #6a2383 25%, #322155, #241f47);
}
