:local(.callToActionDrip) {
	background-color: #fff0cc;
}

:local(.callToActionWrapper) {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}

:local(.conversionsWrapper) {
	align-items: center;
	background-color: #fff0cc;
	display: flex;
	flex-direction: column;
}

:local(.latestPostWrapper) {
	align-items: center;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 150px 1em 150px 1em;
	width: 100%;
}
