:local(.featureList) {
	display: flex;
	flex-direction: column;
}

:local(.featureList li) {
	border-bottom: 1px solid black;
	text-align: left;
	padding: 0.5em;
	white-space: nowrap;
}

:local(.featureIcon) {
	margin-right: 0.5em;
}

:local(.planAction) {
	border-radius: 20px !important;
	font-size: 1em !important;
}

:local(.planMotion) {
	display: flex;
	perspective: 1000px;
	transform-style: preserve-3d;
}

:local(.planWrapper) {
	align-items: center;
	background-color: white;
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 1em;
}

:local(.planWrapper h2) {
	margin-bottom: 0px;
}
