:local(.callToActionError) {
	color: red;
}

:local(.callToActionForm) {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 15px;
	width: 100%;
}

:local(.callToActionInput) {
	background-color: white;
	display: flex;
	position: relative;
}

:local(.callToActionSuccess) {
	color: green;
}

:local(.callToActionWrapper) {
	align-items: center;
	background-color: #fff0cc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 150px;
}

:local(.callToActionImage) {
	width: 50%;
}

@media all and (max-width: 700px) {
	.callToActionImage {
		width: 100%;
	}
}

@media all and (min-width: 700px) and (max-width: 950px) {
	.callToActionImage {
		width: 80%;
	}
}

@media all and (min-width: 950px) and (max-width: 1200px) {
	.callToActionImage {
		width: 65%;
	}
}
